[submodule "libs/QLightTerminal"]
	path = libs/QLightTerminal
	url = https://github.com/ChargeIn/QLightTerminal.git
[submodule "libs/Prettier"]
	path = libs/Prettier
	url = https://github.com/ChargeIn/Prettier
